@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

$darkergrey: #1f232a;
$darkgrey: #333;
$white: #fff;
$orange: #d37c08;
$border: #767474;

ul {
  list-style: none;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}
